---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<svg 
  version="1.0" 
  xmlns="http://www.w3.org/2000/svg" 
  viewBox="0 0 1024 1024" 
  preserveAspectRatio="xMidYMid meet" 
  class={className}
  fill="currentColor"
>
  <rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none" stroke="none"/>
  <g class="currentLayer">
    <title>Layer 1</title>
    <g transform="translate(0, 1024) scale(0.1, -0.1)" fill="currentColor" stroke="none" id="svg_1">
      <path d="M5140 9464 c-78 -16 -162 -72 -208 -139 l-34 -50 -726 -6 c-785 -6 -868 -11 -1112 -65 -202 -45 -428 -126 -590 -212 -298 -159 -584 -412 -772 -684 -163 -235 -266 -474 -332 -771 -47 -209 -49 -242 -53 -1097 -6 -1007 2 -1155 73 -1435 97 -383 277 -699 559 -980 361 -362 782 -573 1332 -667 125 -22 150 -22 1200 -25 l1072 -4 10 -32 c18 -52 95 -133 159 -164 51 -25 68 -28 157 -28 84 0 108 4 146 23 74 36 125 87 161 160 30 60 33 75 33 152 0 70 -5 95 -27 141 -36 79 -89 133 -166 171 -59 29 -76 33 -147 32 -64 0 -92 -6 -136 -26 -64 -29 -128 -83 -160 -134 l-21 -34 -1009 0 c-1059 0 -1101 1 -1334 46 -292 57 -548 165 -809 342 -372 252 -653 653 -760 1083 -64 257 -61 202 -61 1259 0 888 1 972 18 1055 82 409 214 688 456 962 254 287 605 494 1009 594 255 63 336 69 1116 75 l693 5 26 -43 c36 -60 103 -125 162 -156 44 -23 62 -26 145 -26 113 0 164 18 239 89 71 66 105 147 106 250 0 74 -3 88 -38 158 -30 61 -49 86 -90 116 -29 22 -65 45 -82 51 -53 21 -140 27 -205 14z" id="svg_2"/>
      <path d="M4231 8758 c-18 -5 -57 -33 -86 -62 -44 -43 -55 -62 -65 -108 -20 -87 -1 -149 64 -214 93 -94 213 -100 320 -19 50 38 77 101 78 177 3 163 -149 273 -311 226z" id="svg_3"/>
      <path d="M3550 8659 c-339 -31 -615 -124 -875 -297 -134 -88 -358 -311 -440 -437 -128 -196 -201 -373 -252 -615 -16 -77 -18 -165 -21 -920 -4 -907 -1 -979 48 -1180 48 -193 111 -336 228 -511 246 -367 651 -631 1105 -718 198 -38 308 -42 1197 -39 804 3 857 4 888 21 57 31 77 107 46 173 -31 66 22 62 -1005 67 l-934 3 -125 28 c-241 52 -387 113 -575 237 -120 79 -268 219 -350 329 -26 36 -52 64 -57 62 -5 -1 -7 2 -4 6 3 5 -19 58 -49 117 -65 128 -106 252 -132 395 -17 96 -18 173 -18 950 l0 845 23 105 c64 292 175 496 376 695 261 259 589 403 965 422 l124 6 38 37 c36 34 39 41 39 93 0 45 -5 61 -26 86 -24 28 -79 53 -114 50 -8 -1 -53 -5 -100 -10z" id="svg_4"/>
      <path d="M4974 8249 c-63 -24 -135 -86 -170 -144 l-25 -44 -647 -4 c-624 -3 -650 -4 -728 -25 -377 -99 -648 -369 -756 -752 -19 -68 -21 -107 -25 -410 l-4 -335 23 -35 c34 -50 93 -70 150 -50 22 8 51 28 62 43 20 27 21 45 27 345 7 337 10 360 64 494 68 166 218 321 387 397 146 67 121 64 813 68 l631 4 17 -36 c25 -53 102 -130 153 -155 138 -64 293 -39 397 66 107 109 133 274 65 408 -33 65 -116 140 -181 164 -75 29 -182 29 -253 1z" id="svg_5"/>
      <path d="M4963 7110 c-82 -19 -179 -104 -223 -195 -21 -42 -25 -64 -24 -140 1 -113 22 -165 101 -244 118 -118 300 -133 439 -38 52 36 118 122 111 147 -3 13 76 14 782 10 l786 -5 138 -28 c401 -80 730 -247 1007 -511 321 -307 512 -687 570 -1136 8 -59 10 -386 8 -1055 l-4 -970 -27 -120 c-75 -337 -207 -611 -412 -850 -355 -416 -891 -678 -1479 -725 -75 -6 -525 -10 -1077 -10 l-947 0 -25 43 c-33 56 -92 109 -154 138 -73 35 -207 34 -283 -2 -67 -31 -145 -108 -173 -169 -14 -30 -22 -73 -25 -130 -5 -116 20 -183 97 -261 77 -76 146 -103 256 -97 130 7 225 64 287 175 l29 52 1082 3 1082 3 136 27 c408 82 749 229 1046 452 395 296 662 693 783 1162 73 283 73 277 78 1244 5 1042 0 1129 -83 1446 -58 223 -173 465 -315 666 -142 201 -423 458 -653 596 -194 117 -466 227 -672 271 -252 55 -248 54 -1067 58 l-767 4 -21 34 c-34 54 -116 122 -176 144 -56 22 -148 26 -211 11z" id="svg_6"/>
      <path d="M5892 6415 c-130 -40 -206 -191 -155 -306 46 -103 118 -153 223 -154 53 0 73 5 111 27 173 102 149 367 -40 434 -45 17 -85 16 -139 -1z m222 -387 c-3 -4 -9 -8 -15 -8 -5 0 -9 4 -9 8 0 5 7 9 15 9 8 0 12 -4 9 -9z" id="svg_7"/>
      <path d="M6565 6313 c-58 -15 -95 -67 -95 -134 0 -35 6 -47 38 -79 37 -37 37 -37 147 -44 291 -19 530 -96 753 -243 257 -169 439 -410 542 -720 68 -204 70 -242 70 -1109 0 -489 -4 -801 -11 -862 -70 -620 -507 -1085 -1161 -1235 -90 -20 -121 -21 -1033 -26 -876 -6 -943 -7 -968 -24 -66 -43 -75 -143 -18 -201 l31 -31 948 0 c1037 0 1000 -2 1226 61 568 156 1025 591 1175 1116 69 239 66 190 66 1183 0 948 0 951 -47 1125 -49 184 -114 328 -223 494 -234 356 -601 599 -1045 694 -155 33 -337 49 -395 35z" id="svg_8"/>
      <path d="M2705 6150 c-11 -4 -33 -22 -50 -40 l-30 -31 -3 -277 c-4 -311 4 -392 50 -527 125 -368 397 -610 788 -701 66 -15 153 -18 730 -21 360 -3 674 -2 697 2 29 4 54 17 78 39 31 30 35 39 35 85 0 31 -7 62 -16 77 -37 55 -20 54 -706 54 -700 0 -763 4 -902 60 -82 32 -169 83 -224 132 -18 15 -39 25 -45 22 -7 -4 -9 -4 -5 0 4 5 -18 40 -48 80 -30 39 -72 107 -93 151 -70 142 -73 165 -78 505 -5 334 -7 345 -66 380 -33 21 -78 25 -112 10z" id="svg_9"/>
      <path d="M4995 5896 c-100 -32 -178 -96 -227 -188 -20 -37 -23 -57 -23 -153 0 -121 5 -138 70 -216 54 -64 104 -97 176 -115 154 -39 301 21 385 157 l37 59 576 0 c322 0 602 -4 636 -10 303 -49 544 -271 626 -576 19 -70 22 -115 26 -389 6 -352 7 -358 84 -389 66 -27 132 1 168 71 14 28 15 553 0 658 -13 96 -75 278 -126 369 -159 286 -460 485 -778 516 -61 5 -358 10 -665 10 l-556 0 -35 53 c-85 125 -241 185 -374 143z" id="svg_10"/>
      <path d="M7319 3771 l-39 -39 0 -218 c0 -121 -5 -268 -10 -328 -27 -281 -191 -517 -445 -641 -144 -71 -117 -69 -872 -75 -669 -5 -682 -5 -710 -26 -63 -46 -77 -126 -31 -183 40 -52 20 -50 716 -51 689 0 738 3 877 47 329 103 590 363 683 678 12 39 26 88 33 110 8 26 13 151 16 351 4 272 3 316 -11 346 -21 45 -63 68 -121 68 -42 0 -52 -5 -86 -39z" id="svg_11"/>
    </g>
    <rect fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linejoin="round" id="svg_12" x="601.619" y="413.338" width="9" height="8"/>
    <path fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linejoin="round" stroke-linecap="butt" d="M234,539.5 C234,538.118 234.895,537 236,537 C237.104,537 238,538.118 238,539.5 C238,540.881 237.104,542 236,542 C234.895,542 234,540.881 234,539.5 Z" id="svg_15"/>
    <path fill="currentColor" stroke="none" stroke-width="1" stroke-linejoin="miter" stroke-linecap="butt" d="M235.395,546.762 C235.395,543.723 237.633,541.262 240.395,541.262 C243.157,541.262 245.395,543.723 245.395,546.762 C245.395,549.801 243.157,552.262 240.395,552.262 C237.633,552.262 235.395,549.801 235.395,546.762 z" id="svg_19"/>
    <rect fill="currentColor" id="svg_26" x="239.858" y="536.728" width="3.681" height="4.601" transform="rotate(-31.1777, 241.699, 539.029)"/>
    <rect fill="currentColor" x="308.147" y="520.226" width="3.681" height="4.601" transform="rotate(-45.2527, 309.988, 522.527)" id="svg_32"/>
  </g>
</svg>
