---
import Layout from "../../layouts/Layout.astro";
---

<Layout path="/magiclink" title="Magic Link | Cogito Software">
  <main class="pt-32 pb-20 min-h-screen flex flex-col">
    <div class="container mx-auto px-6 max-w-6xl grow">
      <h1 class="text-4xl md:text-5xl font-bold mb-6 leading-tight">
        Magic Link
      </h1>
    </div>
  </main>
</Layout>
